body{
  background-color: coral;
}

nav{
  margin-top: 0rem !important;
  margin: 1.5 rem;
  font-family: 'Roboto', sans-serif;
  background-color: #A11C41;
  background-size: cover;
}

nav ul{
  list-style-type: none;
  padding: 1rem;
}

nav ul li{
  display: inline-block;
  margin: .25rem;
}

nav ul li:hover{
  color: coral;
}

.cart{
margin-left: 60rem;
}

.cart:hover{
  color: coral;
}

.listContainer{
  margin: 1rem;
}