body{
  background-color: #282c34;
}

header{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1{
  font-size: 2rem;
  color: LightSteelBlue;
  align-items: baseline;
}

h3{
  font-size: 1.5rem;
  color: LightSteelBlue;
}

p{
  color: LightSteelBlue;
}

.App {
  text-align: center;
}

.App-logo {
  height: 3rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  justify-content: center;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
